/* Override general styles */

/* General styles */
.uk-button {
    text-transform: lowercase !important;
}

/* Header */
.top-bar {
    display: none;
}

.logo-wrapper a {
    padding: 0rem 4rem;
}

.astroid-nav .nav-title {
    text-transform: capitalize;
}

.astroid-nav .nav-link,
.astroid-sidebar-menu .nav-link {
    color: #fff !important;
}

@media screen and (min-width: 992px) {
    .logo-wrapper a {
        padding: 0;
    }

    .astroid-header-section header.astroid-header:not(.astroid-header-sticky) {
        padding: 15px 0 0 !important;
    }

    .astroid-header-section header.astroid-stacked-divided-header .astroid-nav-wraper {
        background-color: #039f9d;
    }
}

/* Breadcrumbs */

.mod_breadcrumbs {
    padding: 2rem !important;
    border-top: 1px solid #039f9d47 !important;
    border-bottom: 1px solid #039f9d47 !important;
    margin-bottom: 20px !important;
}

.mod_breadcrumbs .heading-title-page {
    font-size: 40px !important;
    margin-bottom: 0 !important;
}

/* Blog styles */

.article-wraper-inner img,
.item-page.uk-article .entry-image img {
    border-radius: 10px !important;
}

.page-link.active,
.active>.page-link {
    background-color: #52acab !important;
    border-color: #52acab !important;
}

.page-link {
    color: #e0dcd6 !important;
}

.pagination__wrapper~p.counter,
.author-wrap {
    display: none !important;
}

/* Virtuemart override styles (product grid) */

.orderby-displaynumber,
.category-view h4,
div.vm-details-button,
.horizontal-separator,
.category-view>.browse-view h1 {
    display: none !important;
}

.browse-view .row .product .spacer img,
.related-products-view .row .product .spacer img {
    width: 100% !important;
    height: auto !important;
    border-radius: 10px;
}

.vm-product-descr-container-1>h2,
.vm-product-descr-container-0>h2 {
    font-size: 25px !important;
    margin: 0 0 20px 0 !important;
    text-align: left !important;
}

.vm-product-descr-container-1>h2 a,
.vm-product-descr-container-0>h2 a {
    color: #039f9d !important;
}

.spacer.product-container {
    border: none !important;
    margin: 0 !important;
}

.vm-pagination {
    float: none !important;
}

@media screen and (min-width: 992px) {
    div.product {
        width: 25% !important;
    }
}

/* Virtuemart override styles (single product) */

.back-to-category,
.product-description>span.title,
#fancybox-title {
    display: none !important;
}

#fancybox-outer,
#fancybox-img {
    background: none !important;
    padding: 0 !important;
    border-radius: 10px !important;
}

.vm-product-media-container>.main-image img,
.additional-images img {
    border-radius: 10px !important;
}

.product-container.productdetails-view.productdetails>h1,
.product-container.productdetails-view.productdetails>.icons {
    display: none !important;
}

@media screen and (min-width: 992px) {
    .product-container.productdetails-view.productdetails {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        column-gap: 2rem;
    }

    .product-container.productdetails-view.productdetails>.product-short-description {
        grid-column: 2/3 !important;
        grid-row: 1/2 !important;
    }

    .product-container.productdetails-view.productdetails>.vm-product-container {
        grid-column: 1/2 !important;
        grid-row: 1/2 !important;
    }

    .product-container.productdetails-view.productdetails>.additional-images {
        grid-column: 1/2 !important;
        grid-row: 2/3 !important;
    }

    .product-container.productdetails-view.productdetails>.product-description {
        grid-column: 1/3 !important;
        grid-row: 3/4 !important;
    }

    .vm-product-container .vm-product-media-container {
        width: 100% !important;
    }

    .vm-product-media-container>.main-image {
        text-align: left !important;
    }
}

/* Styles for HTML inserted with custom-scripts.js */
@media screen and (max-width: 992px) {
    #astroid-header .contact-info-wrapper {
        display: none !important;
    }
}

@media screen and (min-width: 992px) {
    .astroid-section.astroid-header-section::after {
        content: '';
        background-color: #039f9d;
        position: absolute;
        width: 100%;
        height: 45px;
        display: inline-block;
        margin-top: -45px;
        z-index: -1;
    }
}

#astroid-header .contact-info-wrapper {
    position: relative;
    top: -120px;
    text-align: right;
    height: 0;
}

#astroid-header .contact-info-wrapper .container .row .content-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

#astroid-header .contact-info-wrapper .container .row .content-wrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #039f9d;
    font-size: 14px;
}

#astroid-header .contact-info-wrapper .container .row .content-wrapper a:hover {
    text-decoration: none;
}